
/dts-v1/;

#include "dt-bindings/pwm/pwm.h"
#include <dt-bindings/input/input.h>
#include <dt-bindings/display/drm_mipi_dsi.h>

#include "seco-rk3399.dtsi"
#include "seco-rk3399-opp.dtsi"
#include "seco-rk3399-vop-clk-set.dtsi"


/ {
	model      = "Rockchip RK3399 SECO Board (C31)";
	compatible = "rockchip,seco-rk3399-c31", "rockchip,rk3399";


    chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff1a0000 swiotlb=1 console=ttyFIQ0,115200n8n rw root=PARTUUID=614e0000-0000 rootfstype=ext4 rootwait coherent_pool=1m";
		stdout-path = "serial2:115200n8";
	};


/*  __________________________________________________________________________
 * |                                                                          |
 * |                                   DEBUG                                  |
 * |__________________________________________________________________________|
 */
	fiq_debugger: fiq-debugger {
		compatible               = "rockchip,fiq-debugger";
		rockchip,serial-id       = <2>;
		rockchip,signal-irq      = <182>;
		rockchip,wake-irq        = <0>;
		rockchip,irq-mode-enable = <1>;  /* If enable uart uses irq instead of fiq */
		rockchip,baudrate        = <115200>;    /* Only 115200 and 1500000 */
		pinctrl-names            = "default";
		pinctrl-0                = <&uart2c_xfer>;
	};


/*  __________________________________________________________________________
 * |                                                                          |
 * |                                 REGULATORS                               |
 * |__________________________________________________________________________|
 */
	vcc3v3_sys: vcc3v3-sys {
		compatible              = "regulator-fixed";
		regulator-name          = "vcc3v3_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};


    vcc3v3_run: vcc3v3-run {
		compatible              = "regulator-fixed";
		regulator-name          = "vcc3v3_run";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		regulator-always-on;
		vin-supply              = <&vcc3v3_sys>;
	};


	vcc1v8_run: vcc1v8-run {
		compatible              = "regulator-fixed";
		regulator-name          = "vcc1v8_run";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
		regulator-always-on;
	};


	vdd_eth: vdd-eth {
		compatible              = "regulator-fixed";
		regulator-name          = "vdd_eth";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		regulator-always-on;
		vin-supply              = <&vcc3v3_sys>;
	};
    

	vcc5v0_sys: vcc5v-sys {
		compatible              = "regulator-fixed";
		regulator-name          = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};


    sd_pwr: sd-pwr {
		compatible              = "regulator-fixed";
		gpio                    = <&gpio0 1 GPIO_ACTIVE_HIGH>;
		pinctrl-names           = "default";
		pinctrl-0               = <&sdmmc0_pwr_h>;
		regulator-name          = "vcc_sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
	};


    usb2_hub_host: usb2-hub-host {
		compatible              = "regulator-fixed";
		gpio                    = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;
		pinctrl-names           = "default";
		pinctrl-0               = <&host_hub_enable>;
		regulator-name          = "usb2_hub_host";
        regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-down;
		regulator-always-on;
	};


	vcc5v0_host_usb1_2: vcc5v0-host-usb1-2-regulator {
		compatible              = "regulator-fixed";
		gpio                    = <&pca6416 0 GPIO_ACTIVE_HIGH>;
		regulator-name          = "vcc5v0_host_usb1_2";
        regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		enable-active-high;
		vin-supply              = <&vcc5v0_sys>;
	};


	vcc5v0_host_usb3_4: vcc5v0-host-usb3-4-regulator {
		compatible              = "regulator-fixed";
		gpio                    = <&pca6416 1 GPIO_ACTIVE_HIGH>;
		regulator-name          = "vcc5v0_host_usb3_4";
        regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		enable-active-high;
		vin-supply              = <&vcc5v0_sys>;
	};


    vcc5v0_host_usb3: vcc5v0-host-usb3-regulator {
		compatible              = "regulator-fixed";
		gpio                    = <&gpio1 RK_PA1 GPIO_ACTIVE_HIGH>;
		regulator-name          = "vcc5v0_host_usb3";
        regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		enable-active-high;
		vin-supply              = <&vcc5v0_sys>;
	};


	vcc_tlv320: vcc-tlv320-regulator {
		compatible              = "regulator-fixed";
		regulator-name          = "tlv320aic32x4_supply";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};
};



/*  __________________________________________________________________________
 * |                                                                          |
 * |                                   POWER                                  |
 * |__________________________________________________________________________|
 */
&io_domains {
	bt656-supply    = <&vcc_3v0>; /* bt656_gpio2ab_ms */
	audio-supply    = <&vcc1v8_run>; /* audio_gpio3d4a_ms */
	sdmmc-supply    = <&sd_pwr>; /* sdmmc_gpio4b_ms */
	gpio1830-supply = <&vcc_3v0>; /* gpio1833_gpio4cd_ms */

	status          = "okay";
};
/*  __________________________________________________________________________
 * |__________________________________________________________________________|
 */



/*  __________________________________________________________________________
 * |                                                                          |
 * |                                    CPU                                   |
 * |__________________________________________________________________________|
 */
&cpu_l0 {
	cpu-supply = <&vdd_cpu_l>;
};


&cpu_l1 {
	cpu-supply = <&vdd_cpu_l>;
};


&cpu_l2 {
	cpu-supply = <&vdd_cpu_l>;
};


&cpu_l3 {
	cpu-supply = <&vdd_cpu_l>;
};


&cpu_b0 {
	cpu-supply = <&vdd_cpu_b>;
};


&cpu_b1 {
	cpu-supply = <&vdd_cpu_b>;
};


&dmc {
	status             = "okay";
	center-supply      = <&vdd_center>;
	upthreshold        = <40>;
	downdifferential   = <20>;

	system-status-freq = <
		/*system status         freq(KHz)*/
		SYS_STATUS_NORMAL       800000
		SYS_STATUS_REBOOT       528000
		SYS_STATUS_SUSPEND      200000
		SYS_STATUS_VIDEO_1080P  200000
		SYS_STATUS_VIDEO_4K     600000
		SYS_STATUS_VIDEO_4K_10B 800000
		SYS_STATUS_PERFORMANCE  800000
		SYS_STATUS_BOOST        400000
		SYS_STATUS_DUALVIEW     600000
		SYS_STATUS_ISP          600000
	>;
	vop-bw-dmc-freq = <
	/* min_bw(MB/s) max_bw(MB/s) freq(KHz) */
		0       762      200000
		763     1893     400000
		1894    3012     528000
		3013    99999    800000
	>;

	auto-min-freq = <200000>;
};
/*  __________________________________________________________________________
 * |__________________________________________________________________________|
 */


 /*  __________________________________________________________________________
 * |                                                                          |
 * |                                    GPU                                   |
 * |__________________________________________________________________________|
 */
&gpu {
	status      = "okay";
	mali-supply = <&vdd_gpu>;
};
/*  __________________________________________________________________________
 * |__________________________________________________________________________|
 */


/*  __________________________________________________________________________
 * |                                                                          |
 * |                              eMMC/uSD/SDIO                               |
 * |__________________________________________________________________________|
 */
 /*  eMMC  */
&emmc_phy {
	status = "okay";
};

&sdhci {
	bus-width                   = <8>;
	mmc-hs400-1_8v;
	supports-emmc;
	non-removable;
	keep-power-in-suspend;
	mmc-hs400-enhanced-strobe;
	status                      = "okay";
};


/*  uSD  */
&sdmmc {
	pinctrl-names      = "default";
	pinctrl-0          = <&sdmmc_clk &sdmmc_cmd &sdmmc_cd &sdmmc_bus4>;
	clock-frequency    = <150000000>;
	clock-freq-min-max = <100000 150000000>;
	supports-sd;
	bus-width          = <4>;
	vmmc-supply        = <&sd_pwr>;
	num-slots          = <1>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	status             = "okay";
};
/*  __________________________________________________________________________
 * |__________________________________________________________________________|
 */


 /*  __________________________________________________________________________
 * |                                                                          |
 * |                                    USB 2                                 |
 * |__________________________________________________________________________|
 */
 &u2phy0 {
	status  = "okay";
    extcon  = <&fusb0>;
	dr_mode = "host";
	
	u2phy0_host: host-port {
		phy-supply = <&usb2_hub_host &vcc5v0_host_usb1_2 &vcc5v0_host_usb3_4>;
		status     = "okay";
	};
};


&u2phy1 {
	status = "okay";

	u2phy1_otg: otg-port {
		status = "okay";
	};

	u2phy1_host: host-port {
		status = "okay";
	};
};


&usb_host0_ehci {
	status = "okay";
};


&usb_host0_ohci {
	status = "okay";
};


&usb_host1_ehci {
	status = "okay";
};


&usb_host1_ohci {
	status = "okay";
};
 /*  __________________________________________________________________________
 * |__________________________________________________________________________|
 */


/*  __________________________________________________________________________
 * |                                                                          |
 * |                                    USB 3                                 |
 * |__________________________________________________________________________|
 */
&usbdrd3_0 {
	status = "okay";
	extcon = <&fusb0>;
};


&usbdrd_dwc3_0 {
	status = "okay";
};


&usbdrd3_1 {
	status = "okay";
};

&usbdrd_dwc3_1 {
	status = "okay";
	dr_mode = "host";
};


&tcphy0 {
	extcon = <&fusb0>;
	status = "okay";
};


&tcphy1 {
	status = "okay";
};

&tsadc {
	/* tshut mode 0:CRU 1:GPIO */
	rockchip,hw-tshut-mode = <1>;
	/* tshut polarity 0:LOW 1:HIGH */
	rockchip,hw-tshut-polarity = <1>;
	rockchip,hw-tshut-temp = <110000>;
	status = "okay";
};
/*  __________________________________________________________________________
 * |__________________________________________________________________________|
 */


/*  __________________________________________________________________________
 * |                                                                          |
 * |                                  PCIe                                    |
 * |__________________________________________________________________________|
 */
 &pcie_phy {
	status = "okay";
};

&pcie0 {
	ep-gpios          = <&pca6416 13 GPIO_ACTIVE_HIGH>;
    ep_start_low;
	num-lanes         = <4>;
	pinctrl-names     = "default";
	pinctrl-0         = <&pcie_clkreqn>;
	bus-scan-delay-ms = <1000>;
	status            = "okay";
};
/*  __________________________________________________________________________
 * |__________________________________________________________________________|
 */


/*  __________________________________________________________________________
 * |                                                                          |
 * |                                ETHERNET                                  |
 * |__________________________________________________________________________|
 */
&gmac {
	phy-supply             = <&vdd_eth>;
	phy-mode               = "rgmii";
	clock_in_out           = "output";
	snps,reset-gpio        = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us   = <0 10000 50000>;
	assigned-clocks        = <&cru SCLK_RMII_SRC>;
    assigned-clock-parents = <&cru SCLK_MAC>;
    assigned-clock-rates   = <125000000>;
	pinctrl-names          = "default";
	pinctrl-0              = <&rgmii_pins>;
	tx_delay               = <0x28>;
	rx_delay               = <0x11>;
	status                 = "okay";
};
/*  __________________________________________________________________________
 * |__________________________________________________________________________|
 */


/*  __________________________________________________________________________
 * |                                                                          |
 * |                                 AUDIO                                    |
 * |__________________________________________________________________________|
 */
&i2s0 {
	rockchip,i2s-broken-burst-len;
	pinctrl-names                  = "default";
	pinctrl-0                      = <&i2s0_2ch_bus &i2s0_2ch_mclk>;
	rockchip,playback-channels     = <2>;
	rockchip,capture-channels      = <2>;
	#sound-dai-cells               = <0>;
	//rockchip,clk-trcm              = <1>; 	// only tx_lrck/bclk is used

	status                         = "okay";
};


/ {
	headphones-sound {
		status                        = "okay";
		compatible                    = "simple-audio-card";
		simple-audio-card,format      = "i2s";
		simple-audio-card,name        = "rk-tlvcodec-sound";
		simple-audio-card,mclk-fs     = <256>;
		simple-audio-card,hp-det-gpio = <&gpio2 RK_PA7 GPIO_ACTIVE_LOW>;

		simple-audio-card,cpu {
			bitclock-master;
			frame-master;
			sound-dai         = <&i2s0>;
		};
		simple-audio-card,codec {
			sound-dai         = <&tlvcodec>;
		};
	};
};
/*  __________________________________________________________________________
 * |__________________________________________________________________________|
 */


/*  __________________________________________________________________________
 * |                                                                          |
 * |                                   I2C                                    |
 * |__________________________________________________________________________|
 */
&i2c0 {
	i2c-scl-rising-time-ns  = <168>;
	i2c-scl-falling-time-ns = <4>;
	clock-frequency         = <400000>;
	status                  = "okay";


    vdd_cpu_b: syr827@63 {
		compatible = "richtek,rt5759";
		reg        = <0x63>;
		vin-supply = <&vcc5v0_sys>;
		regulator-name          = "vdd_cpu_b";
		regulator-min-microvolt = <600000>;
		regulator-max-microvolt = <1500000>;
		regulator-ramp-delay    = <1000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-initial-state = <3>;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};


	vdd_gpu: syr827@62 {
		compatible = "richtek,rt5759";
		reg        = <0x62>;
		vin-supply = <&vcc5v0_sys>;
		regulator-name          = "vdd_gpu";
		regulator-min-microvolt = <600000>;
		regulator-max-microvolt = <1500000>;
		regulator-ramp-delay    = <1000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-initial-state = <3>;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};


	rk808: pmic@1b {
		compatible       = "rockchip,rk808";
		reg              = <0x1b>;
		pinctrl-names    = "default";
		pinctrl-0        = <&pmic_int_l>;
		interrupt-parent = <&gpio1>;
		interrupts       = <21 IRQ_TYPE_LEVEL_LOW>;
		#clock-cells     = <1>;
		rockchip,system-power-controller;
		wakeup-source;
		
		clock-output-names = "rk808-clkout1", "rk808-clkout2";

		vcc1-supply = <&vcc3v3_sys>;
		vcc2-supply = <&vcc3v3_sys>;
		vcc3-supply = <&vcc3v3_sys>;
		vcc4-supply = <&vcc3v3_sys>;
		vcc6-supply = <&vcc3v3_sys>;
		vcc7-supply = <&vcc3v3_sys>;
		vcc8-supply = <&vcc3v3_sys>;
		vcc9-supply = <&vcc3v3_sys>;
		vcc10-supply = <&vcc3v3_sys>;
		vcc11-supply = <&vcc3v3_sys>;
		vcc12-supply = <&vcc3v3_sys>;
		vddio-supply = <&vcc_3v0>;

		regulators {
			vdd_center: DCDC_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay    = <6001>;
				regulator-name          = "vdd_center";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_cpu_l: DCDC_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay    = <6001>;
				regulator-name          = "vdd_cpu_l";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name       = "vcc_ddr";
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc_1v8: DCDC_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt    = <1800000>;
				regulator-max-microvolt    = <1800000>;
				regulator-name = "vcc_1v8";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vldo_1v8_lte: LDO_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name          = "vcc1v8_dvp";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vldo_3v3_touch: LDO_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name          = "vldo_3v3_touch";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc1v8_pmu: LDO_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name          = "vcc1v8_pmu";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vccio_sd: LDO_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3000000>;
				regulator-name          = "vccio_sd";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
			};

			vcca3v0_codec: LDO_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-name          = "vcca3v0_codec";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v5: LDO_REG6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
				regulator-name          = "vcc_1v5";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1500000>;
				};
			};

			vcca1v8_codec: LDO_REG7 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name          = "vcca1v8_codec";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v0: LDO_REG8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-name          = "vcc_3v0";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
			};

			vcc3v3_s3: SWITCH_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc3v3_s3";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_s0: SWITCH_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc3v3_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};
};


&i2c1 {
	clock-frequency   = <100000>;
	status            = "okay";

	tlvcodec: tlv320aic32x4@18 { 
		compatible       = "ti,tlv320aic32x4"; 
		reg              = <0x18>;
		#sound-dai-cells = <0>;
		pinctrl-names    = "default";
		pinctrl-0        = <&codec_audio>;
		clocks           = <&cru SCLK_I2S_8CH_OUT>;
		clock-names      = "mclk";
		ldoin-supply     = <&vcc_tlv320>;
		iov-supply       = <&vcc_tlv320>;
		dov-supply       = <&vcc_tlv320>;
		aov-supply       = <&vcc_tlv320>;
		reset-gpios      = <&gpio3 6 GPIO_ACTIVE_LOW>;
		hp-det-gpio      = <&gpio2 RK_PA7 GPIO_ACTIVE_LOW>; 
	};
};


&i2c4 {
	clock-frequency   = <100000>;
	status            = "okay";

	fusb0: fusb30x@22 {
		compatible    = "fairchild,fusb302";
		reg           = <0x22>;
		pinctrl-names = "default";
		pinctrl-0     = <&fusb0_int>;
		vbus-5v-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_HIGH>;
		int-n-gpios   = <&gpio4 RK_PC5 GPIO_ACTIVE_HIGH>;
		status        = "disabled";
	};
};


&i2c5 {
	clock-frequency      = <100000>;
	status               = "okay";

	pca6416: gpio@20 {
		compatible       = "ti,tca6416";
		reg              = <0x20>;
		pinctrl-names    = "default";
		pinctrl-0        = <&pca6416_gpios>;
		reset-gpio       = <&gpio4 RK_PD0 GPIO_ACTIVE_LOW>;
		interrupt-parent = <&gpio2>;
		interrupts       = <RK_PA6 IRQ_TYPE_NONE>;
		#interrupt-cells = <2>;
		#gpio-cells      = <2>;
		gpio-controller;
		interrupt-controller;
		vcc-supply       = <&vcc3v3_sys>;
	};
};
/*  __________________________________________________________________________
 * |__________________________________________________________________________|
 */


/*  __________________________________________________________________________
 * |                                                                          |
 * |                              PIN MUX/CONTROL                             |
 * |__________________________________________________________________________|
 */
 &pinctrl {
     
    pmic {
		pmic_int_l: pmic-int-l {
			rockchip,pins =
				<1 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};


	sdmmc0_pwr_h {
		sdmmc0_pwr_h: sdmmc0_pwr_h {
			rockchip,pins =
				<0 1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};


    gpio_expander {
		pca6416_gpios: pca6416_gpios {
			rockchip,pins =
				<2 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>,	// IRQ
				<4 RK_PD0 RK_FUNC_GPIO &pcfg_pull_up>;	// RST
		};
	};


    usb2 {
		host_hub_enable: host-vbus-drv {
			rockchip,pins =
				<1 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};


    fusb30x {
		fusb0_int: fusb0-int {
			rockchip,pins =
				<0 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>,
				<4 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	gmac {
		rgmii_pins: rgmii-pins {
			rockchip,pins =
				/* mac_txclk */
				<3 17 RK_FUNC_1 &pcfg_pull_none_13ma>,
				/* reset */
				<3 15 RK_FUNC_1 &pcfg_output_high>,
				/* mac_rxclk */
				<3 14 RK_FUNC_1 &pcfg_pull_none>,
				/* mac_mdio */
				<3 13 RK_FUNC_1 &pcfg_pull_none>,
				/* mac_txen */
				<3 12 RK_FUNC_1 &pcfg_pull_none_13ma>,
				/* mac_rxdv */
				<3 9 RK_FUNC_1 &pcfg_pull_none>,
				/* mac_mdc */
				<3 8 RK_FUNC_1 &pcfg_pull_none>,
				/* mac_rxd1 */
				<3 7 RK_FUNC_1 &pcfg_pull_none>,
				/* mac_rxd0 */
				<3 6 RK_FUNC_1 &pcfg_pull_none>,
				/* mac_txd1 */
				<3 5 RK_FUNC_1 &pcfg_pull_none_13ma>,
				/* mac_txd0 */
				<3 4 RK_FUNC_1 &pcfg_pull_none_13ma>,
				/* mac_rxd3 */
				<3 3 RK_FUNC_1 &pcfg_pull_none>,
				/* mac_rxd2 */
				<3 2 RK_FUNC_1 &pcfg_pull_none>,
				/* mac_txd3 */
				<3 1 RK_FUNC_1 &pcfg_pull_none_13ma>,
				/* mac_txd2 */
				<3 0 RK_FUNC_1 &pcfg_pull_none_13ma>;
		};
	};


	audio_i2s {
		i2s0_2ch_bus: i2s0_2ch_bus {
				rockchip,pins =
					<3 RK_PD0 RK_FUNC_1 &pcfg_pull_none>,
					<3 RK_PD2 RK_FUNC_1 &pcfg_pull_none>,
					<3 RK_PD3 RK_FUNC_1 &pcfg_pull_none>,		
					<3 RK_PD7 RK_FUNC_1 &pcfg_pull_none>;
		};


		i2s0_2ch_mclk: i2s0_2ch_mclk {
				rockchip,pins =
					<4 RK_PA0 RK_FUNC_1 &pcfg_pull_none>;
		};


		codec_audio: codec-audio {
			rockchip,pins =
				<3 RK_PD6 RK_FUNC_GPIO &pcfg_pull_up>,
				<2 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
/*  __________________________________________________________________________
 * |__________________________________________________________________________|
 */
